
<h1>superhero</h1>
<h2>Create a Team and Heroes!</h2>
Create a Team and Heroes!

<form class="" action="/team" method="post">

  <p>Team Name<input type="text" name="team[name]" value=""></p>
  <p>Team Motto<input type="text" name="team[motto]" value=""></p>
  <p>Member1 name<input type="text" name="member1_name" value=""></p>
  <p>Member1 power<input type="text" name="member1_power" value=""></p>
  <p>Member1 bio<input type="text" name="member1_bio" value=""></p>
  <p>Member2 name<input type="text" name="member2_name" value=""></p>
  <p>Member2 power<input type="text" name="member2_power" value=""></p>
  <p>Member2 bio<input type="text" name="member2_bio" value=""></p>
  <p>Member3 name<input type="text" name="member3_name" value=""></p>
  <p>Member3 power<input type="text" name="member3_power" value=""></p>
  <p>Member3 bio<input type="text" name="member3_bio" value=""></p>
  <p>Submit<input type="submit" name="submit" value="submit"></p>
</form>
